page-mission-list {
    ion-content {
      background-color: #E0DFDE;
    }
}

.missionAccomplished{
    background-color: #9BDE72;
    color: #111111;
}

.missionPending{
    background-color: #F8C471;
}